@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <SearchBox />
        <a class="attribute-link" href="https://newsapi.org/" target="_blank">Powered by News API</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
