@page "/news"
@inherits NewsBase

<h4>Start searching for something...</h4>

<div class="search-box-wrapper">
    <input class="search-box" @bind="SearchTerm" @bind:event="oninput" />
</div>

<button disabled="@IsUpdateDisabled" @onclick="UpdateNews">Show Results</button>

@if (IsLoading)
{
    <div class="spinner" />
}
else if (NewsData?.Status == "error")
{
    <div>Error</div>
}
else if (NewsData != null)
{
    <div class="search-result-container">
        @foreach (var article in NewsData.Articles)
        {
            <div class="search-result">@article.Title</div>
        }
    </div>
}
