@page "/search/{searchTerm}"

@if (IsLoading)
{
    <div class="spinner" />
}
else if (NewsData?.Status == "error")
{
    <div>Error</div>
}
else if (NewsData != null)
{
    <div class="article-container">
        @foreach (var article in NewsData.Articles)
        {
            <News Article="@article" />
        }
    </div>
}
